{% extends 'base.html'%}
{% block title%}About{% endblock %}
{% block content %}
<div class="about_me">
    <div class="story_about_me">
        <p style="color: rgb(197, 101, 101);">Know me More 👋</p>
        <p>
        Welcome to my profile! My name is Limah Temitope, 
        I am a Nigerian, As a passionate Python developer,
        I embarked on this journey with a drive to create something both innovative
        and impactful. This project marks a significant milestone in my career as a
        Python developer, combining the skills I’ve honed and my vision for creating
        useful and engaging applications and websites.
        </p><br>
        <p>
        My journey began with a fascination for technology and a desire to solve real-world
        problems. I’ve delved into various aspects of Python development, from back-end
        programming to crafting user-friendly interfaces. This journey is not just a showcase
        of my technical abilities but a testament to my dedication and love for coding.
        </p><br>
        <p>
        The goal is to provide a seamless and enjoyable experience for users,
        reflecting my commitment to quality and functionality. I am continually inspired by
        the potential of technology to make life better.
        </p>
       
    </div>  
    <img class="about_me_img" src="static/assets/image/edit-bg.jpg" alt="about me image">  
</div>
<section class="about_me_section_2">
    <div class="mission_vission">
        <div class="mission">
            <h3 style="color: orange; padding-bottom: 1rem">Mission</h3>
            <p><em>To build clean, scalable, and user-friendly applications
                that solve real-world problems, while continuously honing<br>
                my skills as a developer and contributing to the tech community.</em></p>   
        </div>
        <div class="vission">
            <h3 style="color: orange; padding-bottom: 1rem;">Vission</h3>
            <p><em>To be a driving force in the world of software development, 
                creating solutions that bridge the gap between technology<br>
                and users, and inspiring others to pursue their passions 
                in coding and innovation</em></p>
        </div>
    </div>     
</section>        
{% endblock %}