{% extends 'base.html'%}
{% block content %}
<main>
    <div class="content">
        <div class="pic_and_intro">
            <img class="my_pic" src="static/assets/image/Perfect_pic.jpeg" alt="portfolio image">
            <div class="intro">
                    <p>Hello, my name is Limah Temitope</p>
                    <h1>A Creative Python Backend Developer</h1>
                    <span><em>Creativity is my passion</em></span>
                    <div class="all_boxes">
                        <ul>
                            <li class="box_links">
                                <a href="https://github.com/Limah-T" target="_blank">Github</a>
                            </li>
                            <li class="box_links">
                                <a href="#!">LinkedIn</a>
                            </li>
                            <li class="box_links">
                                <a href="https://x.com/Limtech001" target="_blank">Twitter</a>
                            </li>
                        </ul>    
                    </div> 
                </div> 
            </div>        
        </div>
          
    </div>
    
    <section class="section_2">
        <div class="shape_and_text">
            <div class="section_2_shape"></div>
            <h2 class="skills_text">Technical Skills</h2>
        </div>    
        <div class="all_skills_boxes">
            
            <div class="skills_box">
                <h3>Web development</h3>
                <ul>
                    <li>Python - <span class="strength"><em>proficient</em></span></li>
                    <li>Flask - <span class="strength"><em>proficient</em></span></li>
                    <li>HTML - <span class="strength"><em>proficient</em></span></li>
                    <li>CSS - <span class="strength"><em>intermediate</em></span></li>
                </ul>
            </div>
           
            <div class="skills_box">
                <h3>Database Management</h3>
                <ul>
                    <li>PostgreSQL - <span class="strength"><em>proficient</em></span></li>
                    <li>Sqlite3 - <span class="strength"><em>proficient</em></span></li>
                </ul>
            </div>
          
            <div class="skills_box">
                <h3>Automation & Scraping</h3>
                <ul>                   
                    <li>Selenium - <span class="strength"><em>proficient</em></span></li>
                    <li>Beautiful Soup - <span class="strength"><em>proficient</em></span></li>
                </ul>
            </div>
            
            <div class="skills_box">
                <h3>Others</h3>
                <ul>
                    <li>Git/Github - <span class="strength"><em>intermediate</em></span></li>
                    <li>Bootstrap - <span class="strength"><em>Beginner</em></span></li>
                </ul>
            </div>
        </div>    
    </section>

</main>    
{% endblock %}